<!--
source: https://github.com/echoCreativeTeamname/matcher
-->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ambrosia Matcher</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
  <div class="container" style="margin-top: 30px;">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Ambrosia Matcher</a>
          <p class="navbar-text" style="margin-left: 0;">
            <span class="badge" style="background-color: #5cb85c;">up-to-date</span>
          </p>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class="nav navbar-nav">
          <% controller.getMenu().each do |controller,item| %>
            <% if(item[:current] == true) %>
              <li class="active"><a href="<%= item[:url] %>"><%= item[:name] %></a></li>
            <% else %>
              <li><a href="<%= item[:url] %>"><%= item[:name] %></a></li>
            <% end %>
          <% end %>
        </ul>
      </div><!-- /.container-fluid -->
    </nav>
  </div>

  <div class="container" style="margin-top: 10px;">
<%= yield %>
  </div>
</body>
</html>
